* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: darkslategrey;
}

div.center {
    text-align: center;
}


video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


